<section> 
  <style>
  html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  * {
    box-sizing: border-box;
  }
  nav {
    padding: 1em 2em;
    display: flex; 
    align-items: center; 
    justify-content: space-around;
    background-color: #1c1f29;
  }

  nav a {
    color: white;
  text-decoration: none;
  }

  main, form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  main h1 {
    margin-bottom: 2em;
  }

  main form div {
        margin-bottom: 1em;

  }

  main form input[type=submit] {
        background-color: #1c1f29;
        color: white;
padding: .5em 1em;
border-radius: 5px;
border: none;
cursor: pointer;
  }

  </style>
  <nav >
    <a href="/">Accueil</a>
    <a href="/vehicles">Vehicules</a>
  </nav>
  <main>
    <h1> Listes des véhicules </h1>

    <%= link_to "Ajouter un véhicule", new_vehicle_path()%>
    
    <div> 
        <hr>
        <% @vehicles.each do |vehicle| %>
            <div>
                <%= link_to vehicle.name, vehicle_path(vehicle)%>
                <%= vehicle.consumption %>
                <hr>  
            </div>     
        <%end%>
    </div>
    </main>
    
    
</section>